<app-form-frame title="Reset your password" [loading]="loading">
  <form content [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="email" />
    </mat-form-field>
    <p *ngIf="errorMessage" color="warn">{{ errorMessage }}</p>
    <input type="submit" [disabled]="form.invalid">
  </form>
  <div actions>
    <div class="line">
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Reset password</button>
    </div>
    <div class="align-right">
      Don't need to reset your password?
      <a [routerLink]="['/auth', 'signin']">Signin here</a>
    </div>
  </div>
</app-form-frame>
