[type=submit] { display: none; }
mat-form-field { width: 100%; }

.line {
  display: flex;
  flex-direction: column;
  button { width: 100%; }
}

.align-right {
  margin-top: 2em;
  text-align: right;
}
